@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-neutral-100 antialiased;
    background-color: theme('colors.mystic-indigo');
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
    -moz-osx-font-smoothing: grayscale;
  }

  .sacred-text {
    @apply font-serif tracking-widest leading-loose;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .perspective-1500 {
    perspective: 1500px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}